<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <form action="LoginIn.ashx" method="post">
        <table>
            <tr>
                <td>用户名：</td>
                <td><input type="text" name="UserName" value="$Data.UserName" /></td>
            </tr>
            <tr>
                <td>密码：</td>
                <td><input type="password" name="Pwd" value="$Data.Pwd" /></td>
            </tr>
            <tr>
                
                <td><input type="submit" name="LogIn" value="登录" /></td>
            </tr>
        </table>

    </form>
</body>
</html>
